.container {
    flex-direction: column;
  }

.item {
    flex-grow: 4;
  }


.layout {
    margin-top: 30px;
    display: grid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
        "month month month month"
        "thumbnail shownotes shownotes readmore"
        "thumbnail shownotes shownotes readmore"
        "thumbnail shownotes shownotes readmore"
        "thumbnail shownotes shownotes readmore"

}

.month {
    grid-area: month;
    background-color: rgb(173,173,173);
}